<div class="hidden-bullet-wrapper" style="width: 500px">

<figure class="code bullet-description1" style="margin-top: 20px;">
  <figcaption>vmtk mesh generation code</figcaption>
  <pre><code>// genrating a uniform element mesh
vmtkmeshgenerator -ifile foo.vtp -ofile foo.vtu -edgelength 0.5
//Generating a radius-adaptive element mesh
vmtksurfacereader -ifile foo.vtp --pipe vmtkcenterlines -endpoints 1 -seedselector openprofiles --pipe vmtkdistancetocenterlines -useradius 1 --pipe vmtkmeshgenerator -elementsizemode edgelengtharray -edgelengtharray DistanceToCenterlines -edgelengthfactor 0.3 -ofile foo.vtu 
//Adding a boundary layer
vmtksurfacereader -ifile foo.vtp --pipe vmtkcenterlines -endpoints 1 -seedselector openprofiles --pipe vmtkdistancetocenterlines -useradius 1 --pipe vmtkmeshgenerator -elementsizemode edgelengtharray -edgelengtharray DistanceToCenterlines -edgelengthfactor 0.3 -boundarylayer 1 -ofile foo.vtu </code></pre>
</figure>

<figure class="code bullet-description2" style="margin-top: 10px;">
     <figcaption>vmtk mesh generation example</figcaption>
    <img alt="Figure 1" src="/resources/img/mesh_home.png" />
</figure>
</div>

<div class="snippet-explanation" style="width: 370px;">
<h3>Generating a mesh</h3>
<p>Surface remeshing is performed under the assumption that 
the surface requires improvement before being used for CFD.
After the surface has been remeshed the volume is filled with 
a combination of tetrahedral and prismatic elements. We can 
heighten the density of the mesh near the wall by generating
the boundary layer.
</p>

<p>Take a look into the <a href="/Tutorials/MeshGeneration.html">Generating a Mesh</a> tutorial to learn how to generate a mesh from a surface and into <a href="/Tutorials/CenterlinesGmsh.html">Meshing based on centerlines (vmtk+gmsh)</a> tutorial to learn how to generate tetrahedral or <strong>mixed hexahedral</strong> meshes using vmtk coupled to Gmsh. <em>Contributed by Emilie Marchandise, U. Louvain</em></p>
</div>
